.page {
  height: -webkit-fill-available;
  overflow: hidden;
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-screen {
  background-color: grey;
  border-radius: 10px;
  padding-top: 20px;
}

.main-content-screen {
  width: 95%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.comparison-counter {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  color: #FFE500;
  font-size: 35px;
  top: 10px;
  right: 50px;
}

.sorting-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.algorithm-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.select-scroll {
  overflow: auto;
  white-space: nowrap;
  width: 205px;
  height: 55px;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  background-color: black;
}

.select-scroll div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFE500;
  min-width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  scroll-snap-align: start;
  cursor: ns-resize;
}

/* .select-scroll div:hover {
  color: #BCAA0B;
  cursor: pointer;
} */

.scroll-selected {
  background-color: #303030;
}

#render-screen {
  width: 95%;
  height: 85%;
  background-color: white;
  display: flex;
  margin-bottom: 4%;
}

#algorithm-submit {
  border: 1px solid black;
  border-radius: 25%;
  background-color: #1723FF;
  padding: 5px 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: #FFE500;
  outline: none;
  position: absolute;
  bottom: 10px;
}

#algorithm-submit:hover {
  color: #BCAA0B;
  background-color: #010AAD;
}

.size-selection {
  display: flex;
}

.incrementors {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15px;
}

.fa-angle-up {
  font-size: 25px;
  text-align: center;
}

.fa-angle-up:hover {
  cursor: pointer;
  color: #303030;
}

#array-size {
  color: #FFE500;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  margin-right: 15px;
  cursor: default;
}

#arrow-down {
  transform: rotate(180deg);
}
