.page {
  height: -webkit-fill-available;
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-screen {
  background-color: grey;
  border-radius: 10px;
}

.main-content-screen {
  width: 95%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sorting-menu {
  position: absolute;
  bottom: 2%;
  left: 46.5%;
  width: 50%;
}

.algorithm-form {
  display: flex;
  align-items: baseline;
}

#render-screen {
  width: 95%;
  height: 87%;
  background-color: white;
  display: flex;
  margin-bottom: 4%;
}

#algorithm-submit {
  border: 1px solid black;
  border-radius: 25%;
  margin-right: 46%;
  background-color: #1723FF;
  padding: 5px 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: #FFE500;
  outline: none;
}

#algorithm-submit:hover {
  color: #BCAA0B;
  background-color: #010AAD;
}
