<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Sort Me</title>
    <meta name="description" content="Visualize sorting in real time!">
    <meta name="author" content="Brandon Woodruff">

    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/chart.css">
    <link rel="stylesheet" href="../stylesheets/reset.css">

    <script src="../../sort_me.js"></script>
    <script src="../../animated_array.js"></script>
    <script src="../../display_array.js"></script>
    <script src="../../action_buffer.js"></script>
  </head>

  <body class="page">
    <div class="main-content-screen">
      <div id="render-screen">
      </div>
      <div class="sorting-menu">
        <form class="algorithm-form">
          <input
          id="algorithm-submit"
          class="algorithm-action"
          type="submit"
          value="Run" />
          <div class="form-selection">
            <select>
              <option value="selectionSort">Selection Sort</option>
              <option value="insertionSort">Insertion Sort</option>
              <option value="bubbleSort">Bubble Sort</option>
              <option value="quickSort">Quick Sort</option>
            </select>
            <input
            id="array-size-selection"
            type="number"
            name="quantity"
            min="10"
            max="200"
            step="5"
            value="10" />
          </div>
        </form>
      </div>
    </div>

    <script>
      const initSize = document.getElementById("array-size-selection").value;
      const sortMe = new SortMe(initSize);

      const sizeSelect = document.getElementById("array-size-selection");
      sizeSelect.addEventListener("input", (e) => {
        sortMe.setSize(e.target.value);
      });

      const algoForm = document.querySelector(".algorithm-form");
      algoForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const sort = algoForm[1].value;
        sortMe.run(sort);
      });

    </script>
  </body>
</html>
