<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Sort Me</title>
    <meta name="description" content="Visualize sorting in real time!">
    <meta name="author" content="Brandon Woodruff">

    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/chart.css">
    <link rel="stylesheet" href="../stylesheets/reset.css">

    <script src="../../sort_me.js"></script>
    <script src="../../animated_array.js"></script>
    <script src="../../display_array.js"></script>
    <script src="../../action_buffer.js"></script>
  </head>

  <body class="page">
    <div class="page-header">
      <div class="algorithm-dropdown">
        Algrithm Dropdown
      </div>
    </div>
    <div class="page-content">
      <div class="personal-info">
        Personal Info
      </div>
      <div class="main-content-screen">
        <div id="render-screen">
        </div>
      </div>
      <div class="data-size-selection">
        Data Size Selection
      </div>
    </div>
  </body>
</html>
